.about-us{
    background-image: url(../images/about-us/Rectangle\ 4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-block-end: 150px;
    width: 70%;
    padding-block: 137px;
    .about-us__box{
        position: relative;
        right: -700px;
        max-width: 542px;
        background: #EDEDED;
        border-radius: 10px;
        padding: 61px 75px 85px 85px;
        .about__us-titel{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #0499DD;
            padding-block-end: 40px;
        }
        .about__us-text{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #282828;
            padding-block-end: 20px;
        }
    }
}